@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,600&family=Festive&family=Fira+Code:wght@300&family=Josefin+Sans&family=Poppins&family=Tenor+Sans&display=swap');
body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}
.josefin{
    font-family: 'Josefin Sans', sans-serif;
}
.successMsg, .unauthorizedMsg{
    display: none;
}
body{
    margin: 0;
    padding: 0;
}
.banner{
    margin: 0;
    padding: 0;
    background-color:#f1f1f1;
}
.profile{
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 50%;
    border:5px solid#fff;
    background-color: pink;
    background-size: 100% 100%;
    margin: auto;
    overflow: hidden;
}
.black{
    background-color: black;
}
.file_input{
    width: 10%;
} 
  .panel {
    display: none;
  }
  .flip{
    padding-top: 2px;
  }